{% load i18n %}
{% load activeurl %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles%}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



<title>{% block title %}{% endblock %}</title>
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <a class="navbar-brand site" href="#">Brand</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% activeurl menu="yes" parent_tag="li" %}

      <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{%url 'polls:index'%}"> Polls <span class="caret"></span>
            </a>
                <ul class="dropdown-menu">
                  {% for  question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                  {% endfor %}
                </ul>
        </li>
        <li class="nav"><a href="{%url 'statistics:index'%}">Statistic</a></li>
      </ul>
        {% endactiveurl %}
      <form class="nav navbar-nav navbar-right " action="{% url 'set_language' %}" method="post" >{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <!--{% get_current_language as LANGUAGE_CODE %}-->
            <!--{% get_available_languages as LANGUAGES %}-->
            <!--{% get_language_info_list for LANGUAGES as languages %}-->
            <!--{% for language in languages %}-->
                <!--<input  type="submit" name="language" value="{{ language.code }}" />-->

            <!--{% endfor %}-->
            <select class="lan" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    {{ language.name_local }} ({{ language.code }})
                    <option  value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go" />
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% block content %}

{% endblock %}

</body>
</html>